
@{
    Layout = null; 
    ViewData["Title"] = "AccesDeny";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccesDeny</title>
</head>
<body>
    <h1> Bu Sehifeden Istifade Hugugunuz Yoxdur</h1>
</body>
</html>
