<style>
    a {
        text-decoration: none;
        color: darkblue;
    }

    .image {
        width: 65px;
        height: 65px;
        background-size: cover;
    }
</style>

@model List<Product>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <ul id="search-ul" style="position: absolute; left: 25%; background-color: black; width: 40%; z-index: 99; top:20%;" class=" mt-3 list-group">
                @foreach (Product product in Model)
                {
                    @if (product.DeletedById == null)
                    {
                        <li class="list-group-item" style="background:linear-gradient(90deg, #020032 0%, darkblue 0%, #75ccde 0%, #829498 100%, #5b5e6c 100%);
">
                            <a asp-action="details" asp-route-id="@product.Id" class="d-flex align-items-center ">
                                <div style="width:30%;">
                                    <img class="image" src="~/uploads/images/@product.ImagePath" />
                                </div>
                                <div style="padding-left:5%;">
                                    <h6 style="font-weight: bold; margin: 0px; font-family: Arial, Helvetica, sans-serif;">Mehsulun adi : @product.Name</h6>

                                    <p style=" color: gray; font-weight:bold; margin: 0px;"> Qiymeti : @product.Price M</p>
                                    <p style=" color: red; font-weight: bold; margin: 0px;"> Mehsulun Kodu : @product.PartCodeName </p>
                                </div>
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>