@model ShopViewModel

@foreach (var item in Model.Products)
{
    <li><a id="prod-search-list-link" asp-controller="shop" asp-action="Search" asp-route-query="@item.ForSearch">@item.ForSearch</a></li>
}
