@model IEnumerable<Faq>
@{
    ViewData["Title"] = "Index";

}
<!--<section class="faq-section">
    <div class="container">
        <div class="row">-->
<!-- ***** FAQ Start ***** -->
<!--<div class="col-md-6 offset-md-3">

                <div class="faq-title text-center pb-3">
                    <h2>FAQ</h2>
                </div>
            </div>
            <div class="col-md-6 offset-md-3">
                <div class="faq" id="accordion">
                    @foreach (var item in Model)
                    {

                        <div class="card">
                            <div class="card-header" id="faqHeading-1">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                        <span class="badge">1</span>@item.Question
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                                <div class="card-body">
                                    <p>  @Html.Raw(item.Answer) </p>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- Design on Dribbble: https://dribbble.com/shots/3967265-FAQ -->
<h1>Frequently Asked Questions</h1>

<div class="faqs-container">

    @foreach (var item in Model)
    {
        <div class="faq active">
            <h3 class="faq-title">
                @item.Question
            </h3>
            <p class="faq-text">
                @Html.Raw(item.Answer)
            </p>
            <button class="faq-toggle">
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-times"></i>
            </button>
        </div>

    }


</div>

<!-- SOCIAL PANEL HTML -->
<div class="social-panel-container">
    <div class="social-panel">
        <p>
            Created with <i class="fa fa-heart"></i> by
            <a target="_blank" href="https://florin-pop.com">Florin Pop</a>
        </p>
        <button class="close-btn"><i class="fas fa-times"></i></button>
        <h4>Get in touch on</h4>
        <ul>
            <li>
                <a href="https://www.patreon.com/florinpop17" target="_blank">
                    <i class="fab fa-discord"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/florinpop1705" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://linkedin.com/in/florinpop17" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="https://facebook.com/florinpop17" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://instagram.com/florinpop17" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<button class="floating-btn">
    Get in Touch
</button>

<div class="floating-text">
    Part of <a href="https://florin-pop.com/blog/2019/09/100-days-100-projects" target="_blank">#100Days100Projects</a>
</div>

@section js {


    <script src="~/assets/js/faqs.js"></script>
}

@section css{

    <link rel="stylesheet" href="~/assets/sass/blog.css">
    <link rel="stylesheet" href="~/assets/css/faqs.css">

} 