
@{
    ViewData["Title"] = "Index";
}

<section id="first-section">
    <div class="first-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="marka-model">
                        <div class="marka d-flex align-items-center">
                            <span style="margin-right:3px;" class="mr-1">Kateqoriyalar</span>  <i class="fas fa-caret-down"></i>
                        </div>

                    </div>
                    <div class="dropdown-checkbox-search">
                        <div class="searchmarka">
                            <input type="text" placeholder="Axtar...">
                        </div>
                        <div class="checkbox">
                            @foreach (var item in ViewBag.Categories)
                            {
                                <div class="scroll-checkbox">
                                    @if (item.ParentId == null)
                                    {
                                        <a asp-controller="shop" asp-action="category" asp-route-categoryId="@item.Id">@item.Name</a>
                                    }
                                    else
                                    {
                                        <a asp-controller="shop" asp-action="category" asp-route-categoryId="@item.Id">--@item.Name</a>
                                    }
                                </div>
                            }
                        </div>
                        <div class="close-btn">
                            <button id="close-btn">Bağla</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="second-section">
    <div class="second-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <div data-aos="zoom-out"
                         data-aos-anchor-placement="center-bottom"
                         data-aos-easing="ease-in-back"
                         data-aos-delay="300"
                         data-aos-offset="0" class="btn-new-product">
                        <button>YENİ MƏHSULLAR</button>
                    </div>
                </div>
                <div data-aos="zoom-out"
                     data-aos-anchor-placement="center-bottom"
                     data-aos-easing="ease-in-back"
                     data-aos-delay="300"
                     data-aos-offset="0" class="col-lg-9 col-sm-12">
                    <a data-aos="zoom-out"
                       data-aos-anchor-placement="center-bottom"
                       data-aos-easing="ease-in-back"
                       data-aos-delay="300"
                       data-aos-offset="0" href="#">
                        <img src="./assets/img/nagd-satis-endirimi-banner.jpeg" style="width: 100%; height:100%;" alt="endirim">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="third-section">
    <div class="third-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <div class="slider">
                        <div class="slideshow-container">
                            <a href="#">
                                <div class="mySlides fade">

                                    <img src="/assets/img/yeni-mehsullar-1.jpeg" style="width:100%">

                                </div>

                                <div class="mySlides fade">

                                    <img src="./assets/img/BMSTR.jpeg" style="width:100%">

                                </div>

                                <div class="mySlides fade">

                                    <img src="./assets/img/yeni-brend.jpeg" style="width:100%">

                                </div>
                            </a>
                        </div>
                    </div>



                </div>

                <div class="col-lg-4 col-sm-12">
                    <div class="president">
                        <a href="#">
                            <img src="./assets/img/sifaris-hediyyeleri2_i4fb-m7.jpeg" style="width: 100%; height:100%;" alt="">
                        </a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<section id="fourth-section">
    <div class="fourth-section">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <a href="#">
                        <img src="./assets/img/susesilen_mzta-st.jpeg" style="width: 100%; height:100%;" alt="susesilen">
                    </a>
                </div>
                <div class="col-3">
                    <a href="#">
                        <img src="./assets/img/lampalar.jpeg" style="width: 100%; height:100%;" alt="susesilen">
                    </a>
                </div>
                <div class="col-3">
                    <a href="#">
                        <img src="./assets/img/continental_kemerler.jpeg" style="width: 100%; height:100%;" alt="susesilen">
                    </a>
                </div>
                <div class="col-3">
                    <a href="#">
                        <img src="./assets/img/knopkalar.jpeg" style="width: 100%; height:100%;" alt="susesilen">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="fifth-section">
    <div class="fifth-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="all-product-btn">
                        <a asp-action="index" asp-controller="shop">
                            <button style="text-transform:uppercase; font-size:15px; " class="mouse-cursor-gradient-tracking">
                                BüTüN MƏHSULLAR
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section css{
    <link rel="stylesheet" href="~/assets/sass/home.css">

}
@section js{
    <script src="./assets/js/home.js"></script>
}