
@{
    ViewData["Title"] = "Index";
}

<section id="first-section">
    <div class="first-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="marka-model">
                        <div class="marka d-flex align-items-center">
                            <span style="margin-right:3px;" class="mr-1">Category</span>  <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="searchbox">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <div class="dropdown-checkbox-search">
                        <div class="searchmarka">
                            <input type="text" placeholder="Axtar...">
                        </div>
                        <div class="checkbox">
                            <div class="scroll-checkbox">
                                <input type="checkbox">
                                <span>BMTSR</span>
                            </div>
                            <div class="scroll-checkbox">
                                <input type="checkbox">
                                <span>BMTSR</span>
                            </div>
                            <div class="scroll-checkbox">
                                <input type="checkbox">
                                <span>Continental</span>
                            </div>
                            <div class="scroll-checkbox">
                                <input type="checkbox">
                                <span>Continental (A klass dublikat)</span>
                            </div>
                            <div class="scroll-checkbox">
                                <input type="checkbox">
                                <span>Ford</span>
                            </div>
                            <div class="scroll-checkbox">
                                <input type="checkbox">
                                <span>German Concept</span>
                            </div>
                            <div class="scroll-checkbox">
                                <input type="checkbox">
                                <span>Hyundai / Kia</span>
                            </div>
                            <div class="scroll-checkbox">
                                <input type="checkbox">
                                <span>Japan Concept</span>
                            </div>
                            <div class="scroll-checkbox">
                                <input type="checkbox">
                                <span>Korean Concept</span>
                            </div>
                            <div class="scroll-checkbox">
                                <input type="checkbox">
                                <span>Land Rover</span>
                            </div>
                            <div class="scroll-checkbox">
                                <input type="checkbox">
                                <span>Land Rower</span>
                            </div>
                            <div class="scroll-checkbox">
                                <input type="checkbox">
                                <span>Limastar</span>
                            </div>
                            <div class="scroll-checkbox">
                                <input type="checkbox">
                                <span>Mercedes Benz</span>
                            </div>
                            <div class="scroll-checkbox">
                                <input type="checkbox">
                                <span>Mercedes Benz (Orjinal)</span>
                            </div>
                            <div class="scroll-checkbox">
                                <input type="checkbox">
                                <span>Mitsubishi</span>
                            </div>

                        </div>
                        <div class="close-btn">
                            <button id="close-btn">Bağla</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="second-section">
    <div class="second-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <div class="btn-new-product">
                        <button>YENİ MƏHSULLAR</button>
                    </div>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <a href="#">
                        <img src="./assets/img/nagd-satis-endirimi-banner.jpeg" style="width: 100%; height:100%;" alt="endirim">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="third-section">
    <div class="third-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <div class="slider">
                        <div class="slideshow-container">
                            <a href="#">
                                <div class="mySlides fade">

                                    <img src="/assets/img/yeni-mehsullar-1.jpeg" style="width:100%">

                                </div>

                                <div class="mySlides fade">

                                    <img src="./assets/img/BMSTR.jpeg" style="width:100%">

                                </div>

                                <div class="mySlides fade">

                                    <img src="./assets/img/yeni-brend.jpeg" style="width:100%">

                                </div>
                            </a>
                        </div>
                    </div>



                </div>

                <div class="col-lg-4 col-sm-12">
                    <div class="president">
                        <a href="#">
                            <img src="./assets/img/sifaris-hediyyeleri2_i4fb-m7.jpeg" style="width: 100%; height:100%;" alt="">
                        </a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<section id="fourth-section">
    <div class="fourth-section">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <a href="#">
                        <img src="./assets/img/susesilen_mzta-st.jpeg" style="width: 100%; height:100%;" alt="susesilen">
                    </a>
                </div>
                <div class="col-3">
                    <a href="#">
                        <img src="./assets/img/lampalar.jpeg" style="width: 100%; height:100%;" alt="susesilen">
                    </a>
                </div>
                <div class="col-3">
                    <a href="#">
                        <img src="./assets/img/continental_kemerler.jpeg" style="width: 100%; height:100%;" alt="susesilen">
                    </a>
                </div>
                <div class="col-3">
                    <a href="#">
                        <img src="./assets/img/knopkalar.jpeg" style="width: 100%; height:100%;" alt="susesilen">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="fifth-section">
    <div class="fifth-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="all-product-btn">
                        <button>
                            <a href="#">BÜTÜN MƏHSULLAR</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>