@model ProductEditCommand

@{
    ViewData["Title"] = "Edit";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Məhsul</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-controller="dashboard" asp-action="index"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="#!">Məhsul</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="card p-3">
        <div class="card-block">
            <form class="row" method="post" enctype="multipart/form-data" id="productCreate">
                <div class="form-groupImage">
                    <label for="file1" class="control-label">Image</label>
                    <label for="file" class="photo-viewer" id="file-viewer" style="background-image:url('/uploads/images/@Model.ImagePath')"></label>
                    <input name="file" id="file" type="file" class="form-control" onchange="readFile(this)" />
                    <input type="hidden" asp-for="ImagePath" />
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="CategoryId" class="control-label"></label>
                                <select asp-for="CategoryId" class="form-control select2" asp-items="@ViewBag.CategoryId">
                                    <option selected disabled>---Choose one---</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="tab-control" role="tabcontrol">
                        <div class="tab-page" id="specifications" aria-title="Xususiyyetler" selected>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Mehsul Kodu</th>
                                        <th>Dəyər</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var code in ViewBag.Codes)
                                    {
                                        <tr class="code-checkbox">
                                            <td class="table-row-select">
                                                <input type="checkbox" data-code-id="@code.Id" />
                                            </td>
                                            <th>
                                                <p id="code-@code.Id">@code.Name</p>
                                            </th>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



@section css{
    <link rel="stylesheet" type="text/css" href="~/libs/multiple-imager-js/css/imager.css">
    <link rel="stylesheet" type="text/css" href="~/libs/tab-control/tab-control.css">


}

@section js{
    <script src="~/libs/multiple-imager-js/js/imager.js"></script>
    <script src="~/libs/tab-control/tab-control.js"></script>
    <script>

        function readFile(input) {
            let file = input.files[0];

            let reader = new FileReader();

            reader.onload = function () {
                console.log(reader.result);

                $('#file-viewer').css('background-image', `url(${reader.result})`)

            };

            reader.onerror = function () {
                console.log(reader.error);
            };

            reader.readAsDataURL(file);

    </script>
}

